@import "tailwindcss";

@theme {
  --color-dracula-white: #FAFAFA;
  --color-dracula-dark: #282A36;
  --color-dracula-main: #c5b358;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
